<%- include("partials/header-about.ejs") %>
    <!-- Your page content goes here -->
    <div class="headingTop">
        <h1></h1>
    </div>

<%- include("partials/footer.ejs") %>    
    

