<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>ZOLT</title>
</head>
<body>
   <div class="consent">
    <div class="consent-logo">
        <img src="/images/Newest Zolt Web Logo white Trans.png" alt="">
    </div>
    <div class="yes-no">
        <div class="heading-consent">
            <h3>This site contains nicotine products.</h3>
            <h1>Please, confirm if you are above 21.</h1>
        </div>
        <div class="form-yes-no">
            <form method="post" action="/">
                <input type="submit" class="btn-granted" value="YES">
            </form>  
            <form method="post" action="/denied">
                <input type="submit" class="btn-denied" value="NO">
            </form>
        </div>
    </div>
   </div> 
</body>
</html>