<%- include("partials/header-home.ejs") %>
  <div class="container">
   <div class="slider-container">
      <img class="slide" src="images/1.webp" alt="">
      <img class="slide" src="images/2.webp" alt="">
      <img class="slide active" src="images/3.webp" alt="">
   </div>
  </div>
  <div class="progress">
   <div id="length"></div>
           <div id="progress-animation"></div>
           <div class="slider-count">
               <div class="count"></div>
               <div class="count"></div>
               <div class="count"></div>
           </div>
  </div>
        
  <div class="grid-container">
    <div class="item1">
      <div class="header-item1"><h2>TOBACCO FREE - NICOTINE POUCHES</h2></div>
      <div class="content-div-item1">
        <div class="strong-item1">
          <img src="/images/pouch.webp" alt="">
        </div>
        <div class="headings-item1">
          <h2>16 varieties of flavors!</h2>
          <ul>
            <li><span><img src="/images/check sym.svg" alt=""></span>strong</li>
            <li><span><img src="/images/check sym.svg" alt=""></span>tobacco alternatives</li>
            <li><span><img src="/images/check sym.svg" alt=""></span>best in the industry</li>
          </ul>
        </div>
        <div class="slider-container-item1">
          <div class="card-item1">
            <div class="image-item1">
              <img src="/images/products/strawberry.webp" alt="">
              <img src="/images/products/spearmint.webp" alt="">
              <img src="/images/products/vintage.webp" alt="">
              <img src="/images/products/peppermint.webp" alt="">
              <img src="/images/products/sour-apple.webp" alt="">
              <img src="/images/products/winter-green.webp" alt="">
              <img src="/images/products/peach.webp" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item2">
      <img src="/images/all-new-flavors-zolt.svg" alt="">
      <a href="products.ejs">ORDER NOW</a>
    </div>
    <div class="item3"></div>  
    <div class="item4"></div>
  </div>
  <div class="section-3">
    <div class="section-3-video">
      <video width="920" height="480" autoplay muted loop>
        <source src="/videos/pouch demo anime.mp4" type="video/mp4">
        Your browser does not support HTML video.
      </video>
    </div>
    <div class="section-3-content">
      <div class="section-3-content-img">
        <img src="/images/thunder.png" alt="">
      </div>
      <div class="section-3-content-heading">
        <h1>Feel it!</h1>
        <h2>For 60 mins.</h2>
      </div>
    </div>
  </div>
  
  

<%- include("partials/footer-home.ejs") %>    
    

