<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>ZOLT</title>
</head>
<body>
   <div class="sorry">
    <h1>SORRY</h1>
    <h6>You are not allowed to visit this site. Thank you for visiting ZOLT!</h6>
   </div> 
</body>
</html>